body {
    background: #189AB6;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
  }

  #content{
    max-width: 960px;
    margin: auto;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header h1 {
    font-size: 40px;
    color: white;
    font-family: Varela Round,sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0;
  }

  header h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Varela Round,sans-serif;
    margin: 0;
    padding: 0;
  }
header img {
  width: 9%;
  margin-top: 30px;
  margin-bottom: 30px;
}

  
  a {
    color: #bbbbc4;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  a:hover {
    color: #fc3565;
  }

  p {
    color: white;
  }
  

  .button {
    box-sizing: border-box!important;
    background-color: initial!important;
    border: 0!important;
    border-radius: 0!important;
    box-shadow: inset 0 0 0 2px #fff!important;
    color: #fff!important;
    cursor: pointer!important;
    display: inline-block!important;
    font-size: .8em!important;
    font-weight: 600!important;
    height: 3.5em!important;
    letter-spacing: .25em!important;
    line-height: 3.5em!important;
    padding: 0 1.75em!important;
    text-align: center!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    white-space: nowrap!important;
    margin-bottom: 2rem!important;
}

.button:hover {
  border-bottom-color: transparent !important;
  color: #555555 !important;
  box-shadow: inset 0 0 0 2px #555555 !important
}

canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer p {
  text-align: center;
  margin-bottom: 0;
}
#footerImg {
  width: 40px;
  margin: auto;
}
.footerLinks {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

label {
  color: #ffffff;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.25em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

input,
textarea {
  font-size: 17pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.65;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: rgba(212, 212, 255, 0.035) !important;
  border: none !important;
  border-radius: 0 !important;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
  color: #FFF;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  border-color: #818181;
  box-shadow: 0 0 0 2px #666666;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 2.75em;
}

#assignments-container {
  display: flex;
  justify-content: flex-start;
  justify-content: space-evenly;
}