body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

h2 {
    color: rgb(66, 158, 157);
}

.headerImage {
    height: 100%;
    width: 100%;
    filter: grayscale(55%);

}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #429e9d;
    width: 100%;
}


.links_container {
    justify-content: flex-end;
    color: white;
    padding: 35px 40px 0px 0px;
    font-size: 30px;
    display: flex;
}

.links {
    display: flex;
    flex-direction: row;
}

.link {
    padding: 0px 10px 0px 10px;
}

.link a {
    color: white;
    text-decoration: none;
}

.link a:hover {
    color: #61ebe8;
}

.companyName {
    justify-content: flex-start;
    font-size: 55px;
    padding: 20px 0px 20px 40px;
}

.companyName a {
    text-decoration: none;
    color: white;
}

.companyName a:hover {
    color: #61ebe8;
}

.main h1 {
    text-align: center;
}


.infoBox {
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 5px 22px 0px rgba(66, 158, 157, 0.461);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.infoBox .box:nth-child(-n + 2) {
    border-right: rgb(66, 158, 157) solid 1px;
}

.box {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boxheader {
    padding-top: 7px;
    font-size: 40px;
}


.boxcontent {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.boxcontent p {
    padding: 3px;
}



.main {
    width: 85%;
    margin: auto;
}

.about h2 {
    font-size: 30px;
    text-align: center;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutImg {
    width: 50%;
}

.imgAbout{
    width: 75%;
}

.aboutArticle {
    width: 50%;
}

.aboutArticle p {
    font-size: 23px;
}


.ourStaff h2 {
    font-size: 40px;
    text-align: center;
}

.staffContainer {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testi {
    position: relative;
    overflow: hidden;
    max-width: 200px;
    height: 300px;
    text-align: center;

    padding: 30px;
    background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 4px;
    flex: 1 1 calc(20% - 8px);
}

.testi .profile {
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    border: solid 5px #A6A57A;
}

.testi h2 {
    font-size: 25px;
    margin: 0;
}

.clientReviews {
    text-align: center;
}

.clientReviewHeader {
    font-size: 25px;
    margin-top: 120px;
}

.clientReviewContainer {
    width: 55%;
    margin: auto;

}

.review {
    height: auto;
    text-align: center;
    margin: 5px 0px 5px 0px;
}

.footer {
    padding: 10px;
    margin: auto;
    background-color: #429e9d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.continue {
    background-color: #429e9d;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  @media screen and (max-width: 375px) {

    .main h1 {
        text-align: center;
        font-size: 1.5em;
    }

    .header {
        width: 100%;
    }

    .headerImage {
        height: auto;
        width: 100%;
    }

    .companyName,
    .link {
        font-size: 25px;
    }

    .companyName {
        text-align: center;
        padding: 10px 0px 0px 0px;
    }

    .links {
        width: 100%;
        padding: 0;
        justify-content: space-around;
    }

    .links {
        align-content: flex-end;
    }

    .links_container {
        justify-content: flex-end;
        color: white;
        padding: 35px 0px 0px 0px;
        font-size: 30px;
        display: flex;
    }
    
    .navBar {
        display: flex;
        flex-direction: column;
    }

    .hero-image {
        width: 100%;
    }

    .infoBox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .box {
        padding: 3px;
    }

    .boxheader {
        font-size: 1.75rem;
    }
    .boxcontent {
        padding: 10px;
    }
    .infoBox .box:nth-child(-n + 2) {
        border: none;
    }

    .main {
        padding: 5px;
    }

    .about {
        display: flex;
        flex-direction: column;
    }

    .aboutImg {
        width: 100%;
        height: auto;
    }

    .aboutArticle {
        width: 100%;
        height: auto;
    }

    .aboutArticle p {
        font-size: 19px;
    }


    .testi {
        width: 75%;
    }
    .clientReviewContainer {
        width: 100%;
    }
    .review {
        width: 100%;
    }
  }