.productContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



@font-face {
    font-family: Chicago;
    src: url('https://dl.dropbox.com/s/ueoh9twyvz4bwkr/ChicagoFLF.ttf?dl=0');
}

body,
html {
    height: 100%;
    background-color: #62639b;
}

.mos9 {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Chicago, sans-serif;
    font-size: 15px;
}

.mos9-window {
    display: flex;
    flex-direction: column;
    background-color: #cecece;
    border: solid 1px #000;
    box-shadow: 2px 2px 0 #000;
    min-width: 300px;
    min-height: 200px;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #b5b5b5;
    border-bottom: solid 1px #b5b5b5;
}

.mos9-window .mos9-window__header {
    display: flex;
    justify-content: space-between;
}

.mos9-window .mos9-window__header .mos9-window__title {
    flex: 1;
    display: flex;
    padding: 2px;
}

.mos9-window .mos9-window__header .mos9-window__title:before,
.mos9-window .mos9-window__header .mos9-window__title:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAGUlEQVQYV2P8////fwY0wFhcXIwpOERUAgBPkx+vDNl9TQAAAABJRU5ErkJggg==');
    content: '';
    flex: 1;
}

.mos9-window .mos9-window__header .mos9-window__title:before {
    margin-right: 10px;
}

.mos9-window .mos9-window__header .mos9-window__title:after {
    margin-left: 10px;
}

.mos9-window .mos9-window__header .mos9-window__tools {
    display: flex;
    padding: 2px;
}

.mos9-window .mos9-window__header .mos9-window__tools .mos9-window__tool--1:after,
.mos9-window .mos9-window__header .mos9-window__tools .mos9-window__tool--2:after {
    content: '';
    display: block;
    border-bottom: solid 1px #000;
}

.mos9-window .mos9-window__header .mos9-window__tools .mos9-window__tool--1:after {
    width: 5px;
    height: 5px;
    border-right: solid 1px #000;
}

.mos9-window .mos9-window__header .mos9-window__tools .mos9-window__tool--2:after {
    width: 100%;
    height: 1px;
    margin-top: 3px;
    border-top: solid 1px #000;
}

.mos9-window .mos9-window__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 2px 2px;
    padding: 10px;
    background-color: #fff;
    box-shadow: inset 0 0 1px 1px #000;
    border-top: solid 1px #b5b5b5;
    border-left: solid 1px #b5b5b5;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

.mos9-window .mos9-window__content img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.mos9-window__content-control {
    display: flex;
    flex: 1;
    margin: 0 2px 2px;
    padding: 10px;
}

.mos9-button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border: solid 1px #000;
    box-shadow: inset 1px 1px #cecece, inset -1px -1px #8c8c8c, 1px 1px #fff, -1px -1px #8c8c8c;
    background-color: rgba(156, 156, 156, 1);
    background: linear-gradient(135deg, rgba(156, 156, 156, 1) 0%, rgba(173, 173, 173, 1) 25%, rgba(206, 206, 206, 1) 50%, rgba(222, 222, 222, 1) 75%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9c9c', endColorstr='#ffffff', GradientType=1);
}